.list{
    padding: 0.5rem;
}

.list-item{
    color: darkslategray;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    text-decoration: none;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}

.list-item:hover{
    color: purple;
    background-color: whitesmoke;
}

.texto-secundario{
    color: grey;
}


footer {
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
}